@import '../constants/color';

/* Info */
.central-info {
    padding-left: 5vw;
    padding-top: 50vh;
    font-family: Ubuntu;
    color: White;
}
.time {
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 5px 5px $secondary-color;
    text-align: center;
}
.searchform {
    text-align: center;
}
.search {
    text-align: center;
    border: none;
    border-bottom: 2px solid $secondary-sub;
    background: rgba(255,255,255,0.8);
    color: $search-text;
    width: 250px;
}

// Weather
.weather {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px $secondary-color;
    text-align: center;
    margin-bottom: 5px;
}