@import '../constants/color';
@import '../constants/mixins';

/* Info */
.central-info {
    flex: 1;
    justify-self: flex-end;
    padding: 5rem;
    align-self: flex-end;
    font-family: Ubuntu;
    color: White;
}
.time {
    font-size: 9vw;
    font-weight: bold;
    @include textShadow3D(7, $secondary-color);
    text-align: right;
}
.searchform {
    text-align: right;
}
.search {
    font-size: 1rem;
    text-align: right;
    border: none;
    border-bottom: 2px solid $secondary-sub;
    background: rgba(255,255,255,0.8);
    color: $search-text;
    width: 250px;
}

// Weather
.weather {
    font-size: 3.5vw;
    font-weight: bold;
    @include textShadow3D(3, $secondary-color);
    text-align: right;
    margin-bottom: 5px;
}