@import '../constants/color';

/* Title Bar/Left Bar */
.left-bar {
    padding-top: 20vh;
    /* padding-right: 10px; */
    width: 20vw;
    background: $left-bar;
    height: 100vh;
    text-align: right;
    color: $base-color;
    z-index: 99;
}
.title {
    font-size: 5vw;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
    padding-right: 5px;
}
.category {
    font-size: 1rem;
    padding-right: 10px;
}
.category:hover, .category.active {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}